@font-face {
  font-family: "Monsterarrt";
  src: URL("./fonts/Montserrat-Bold.ttf") format("truetype");
}
body {
  padding: 0;
  margin: 0;
  font-family: "Monsterarrt";
  font-size: 22px;
}
.container-narrow {
  opacity: 0.88;
  filter: alpha(opacity = 50);
  position: absolute;
  right: 10%;
  left : 10%;
  background-image: url(./images/cream_dust.png);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border-radius: 15px;
}
main {
  flex: 1 0 auto;
}
img {
  height: 150px;
  width: 100px;
}
.card {
  left: 9.5%;
  width: 200px;
  float: left;
  border-radius: 15px;
}


.card-content {
  text-align: center;
  font-weight: bold;
}

#change {
  left: 175%;
}

#al {
  width: 30%;
  left: 35%;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
